node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
build

jspm_packages/

.npm

.env
.env.*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.tgz
coverage
.next
out
.cache
